*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Maincontent{
    display: flex;

}




.leftBar{
    /* background-color: whitesmoke; */
    flex-basis: 20%;
   
    position: sticky; 
    align-self: flex-start;

}
.leftBar{
    text-align: center;
}