.header{
    background-color: gray;
    color: cornsilk;
    height: 70px;
    display: flex;
    align-items: center;

}
#mainContant{

    background-color: green;
    height: 400px;

}
#foter{
    background-color: grey;
    height: 70px;
}