*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.maincontant{
    display: flex;
    /* flex-wrap: wrap; */
}


.leftBar{
    /* background-color: whitesmoke; */
    flex-basis: 20%;
   
    position: sticky;
    top: 0px;
    align-self: flex-start;

}
.leftBar{
    text-align: center;
    
}
div > .twiter{
    font-size: 60px;
    color: #00ACEE;
   
}
.icon1{
    display: flex;
    align-items: baseline;
    color: #00ACEE;
    cursor: pointer;
   
    
}
.icon2{
    display: flex;
    align-items: baseline;
    cursor: pointer;
    
    
    
}

button{
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 70px;
   padding-right: 70px;
   background-color: #00ACEE;
   font-weight: bold;
   color: white;
   border: white;
  
}
